<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poo.u.tutienda">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tutienda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tutienda_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCGACmv-oiWFUiAsx6EDiAQXHeeO85xVlg" />

        <activity
            android:name=".CrearNegocio"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu_activity"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />



                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>